
    <div class="login-container">
        <h2>Login</h2>
        <form action="your_server_endpoint" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required [(ngModel)]="userName">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required [(ngModel)]="userPassword">

            <button type="submit" *ngIf="blockLogin" (click)="check()">Login</button>
            <button type="submit"(click)="showSignUp()" >signup</button>
        </form>
    </div>
    <!-- <app-company *ngIf="flag1"></app-company> -->
